:root {
    box-sizing: border-box;
    font-family: sans-serif;
    
    /* global variables */

    --green: #596D48;
    --green-dark: #41582d;
    --secondary-text-color: #28313F;
    --internal-padding: 50px;
    --internal-spacing: 25px;

}

body {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.background-container {
    position: relative;
    overflow: hidden;
    width: max(40%, 250px);
    background-color: var(--green);
    background-image: url("./Images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.formContainer {
    padding: 100px 0px;
    background-color: #F9FAFB;
    width: 60%;
    /* width: 75%; */
}

.formContainer h4 {
    font-size: 23px;
    padding-left: var(--internal-padding);
    margin-right: var(--internal-padding);
    width: min(700px, 90%);
}

form#sign-up {
    background: #fff;
    padding-top: var(--internal-spacing);
    padding-bottom: 4px;
    padding-left: var(--internal-padding);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 30%);
    color: #28313F;
}

form#sign-up h1 {
    margin: 0px 0px var(--internal-spacing);
    font-size: 23px;
}

form#sign-up label {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
}

form#sign-up .form-section{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: calc(var(--internal-padding)*1.5);
    margin-bottom: var(--internal-spacing);
    position: relative;
}

.form-section.password-group.error::after {
    content: "* Passwords do not match";
    position: absolute;
    font-size: 12px;
    color: red;
    bottom: -1.1em;
}

form#sign-up .error input[type="password"] {
    border-color: red;
}

form#sign-up 
:is(input[type="text"], 
    input[type="tel"], 
    input[type="email"], 
    input[type="password"]) {
    appearance: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #E5E7EB;
    font-size: 16px;
    padding: 0.2em 0.4em;
    overflow: hidden;
}

form#sign-up input:focus-visible {
    appearance: none;
    outline: none;
    border-width: 1px;
    border-color: #305CDA;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 20%);
}

.formContainer button {
    background-color: var(--green);
    font-weight: bold;
    font-size: 18px;
    border-style: none;
    border-radius: 9px;
    padding: 0.9em calc(var(--internal-padding)*1.2);
    margin-top: 2em;
    margin-left: var(--internal-padding);
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 20%);
    transition: 0.2s;
}

.formContainer button:hover {
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 20%);
    background-color: var(--green-dark);
}